<form class="post-job">
    <!-- Name input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example1">Job Name</label>
      <input type="text" id="form4Example1" class="form-control" />
      
    </div>
  
  
    <!-- Message input -->
    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Job Description</label>
      <textarea class="form-control" id="form4Example3" rows="4"></textarea>
     
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Qualifications</label>
        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
       
      </div>
      <div class="form-outline mb-4">
        <label class="form-label" for="form4Example3">Other info about the Job</label>
        <textarea class="form-control" id="form4Example3" rows="4"></textarea>
      
      </div>
    <!-- Checkbox -->
   
  
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Post</button>
  </form>